.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  border-radius: 20%;
  transition: all 0.1 ease-in-out;
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}

.menuLink:hover {
  filter: brightness(80%);
}
